.home img {
    position: absolute;
    top: -10%;
    left: 0%;
    width: 100%;
    height: auto;
    z-index: -10;
}

.home h1 {
    position: absolute;
    top: 35%;
    left: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 8em;
    letter-spacing: -.07em;
    z-index: 10;
}

.home h2 {
    position: absolute;
    top: 54%;
    left: 0%;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-size: 1em;
    letter-spacing: 0.2em;
    z-index: 10;
}